@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkbox-group {
    position: relative;
}

.checkbox-field {
    opacity: 0
}

.checkbox-label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.checkbox-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: white;
    border-width: 2px;
    border-color: #161B22;
}

.checkbox-label::after {
    content: "";
    position: absolute;
    left: -0px;
    top: 4.5px;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background: black
}

.checkbox-field:not(:checked) + .checkbox-label::after{
    transform: scale(0);
    opacity: 0;
}